<h1>Surveys</h1>

<%= link_to 'New survey', '#', class: "button" %>

<table class="invalidation-list">
  <thead>
    <tr>
      <th>Petition</th>
      <th>Constituency</th>
      <th>Percentage Petitioners</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Ratione eveniet saepe quos enim.</td>
        <td>Brighton, Pavilion</td>
        <td>100</td>
        <td>Exploratory Survey</td>
      </tr>
      <tr>
        <td>Other</td>
        <td>All</td>
        <td>10</td>
        <td>Exploratory Survey</td>
      </tr>
  </tbody>
</table>
