
$petitions-brand: $states-assembly-red;
$petitions-header-colour: $petitions-brand;
$petitions-panel-colour: $petitions-brand;
$petitions-button-colour: $petitions-brand;
$petitions-footer-colour: $grey-3;
